

body {
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

ul {
    list-style-type: none;
}

label {
    font-size: 28px;
    margin: 5px 15px;
    vertical-align: center;
}

input {
    transform: scale(2.5);

}

.title {
    font-weight: bold;
    font-size: 62px;
}

.sub-title {
    font-size: 42px;
}




.under-section {
    margin-top: 80px;
    font-size: 36px;
}



.btn-section {
    display: flex;
    justify-content: center;
    
}

button {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 28px;
    padding: 10px 80px;
    margin: 0 30px;
    border-radius: 22px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    border-image: transparent;
}

button:hover {
    
}

.cal-btn {
    padding: 10px 80px;
}

.reset-btn {
    
}

input[type="checkbox"]:nth-child(7n) {
    accent-color: green;
    } 

input[type="checkbox"]:nth-child(7n+1) {
    accent-color: red;
    } 

input[type="checkbox"]:nth-child(7n+2) {
    accent-color: blue;
    } 

input[type="checkbox"]:nth-child(7n+3) {
    accent-color: orange;
    } 

input[type="checkbox"]:nth-child(7n+4) {
    accent-color: darkblue;
    } 

input[type="checkbox"]:nth-child(7n+5) {
    accent-color: yellow;
    } 

input[type="checkbox"]:nth-child(7n+6) {
    accent-color: purple;
    } 



    