.circle {
    width: 100px;
    height: 100px;
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    top: 0%;
    animation: squareloop 3s 6;
}

@keyframes squareloop {
    0%,
    100% {
        left: 0%;
        top: 0%;
    }

    25% {
        top: 0%;
        left: 50%;
    }

    50% {
        left: 50%;
        top: 50%;
    }

    75% {
        left: 0%;
        top: 50%;
    }

}