body {
    margin: 0;
    padding: 0;
    text-align: center;   
    background-color: rgb(94, 118, 250); 
}

.title {
    color: white;
    font-size: 50px;
    margin-top: 50px;
}

.timer {
    margin-top: 100px;
    font-size: 200PX;
    color: white;
}

.btn {
    color: white;
    font-size: 75px;
    margin-right: 30px;
    padding: 10px 60px; 
    border-radius: 70px;
    border: 3px solid white;
}

.btn-section .twfive{

    background-color: green;
}

.btn-section .stop{
    background-color: tomato;
}

.btn-section .five{
    background-color: rgba(255, 255, 0, 0.795);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 3px;
}