body {
    margin: 0;
    padding: 0;
}

div {
    width: 100px;
    height: 100px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
}

.position-static {
    background-color: pink;
}

.position-relative {
    background-color: aquamarine;
    position: relative;
    left: 80px;
}

.position-absolute {
    background-color: gold;
    position: absolute;

}

.position-fixed{
    background-color: brown;
    position: fixed;
    bottom: 0;
}